@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>XANDER is a purpose-built application to connect clients and workers. Sign in and start creating jobs today!</h3>

<p>Use this area to provide additional information.</p>
