@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Get in touch for more info</h3>

<address>
    <strong>Twitter:</strong>   <a href="Twitter.com/mynameisfury">twitter.com/mynameisfury</a><br />
    <strong>Email:</strong> <a href="jonathanweatherall0@gmail.com">jonathanweatherall0@gmail.com</a>
</address>