@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XANDER</h1>
    <p class="lead">XANDER is a simple, purpose-built platform for contract work.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign in to get started</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="/account/login">Sign in &raquo;</a></p>
    </div>
</div>