@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>XANDER</h1><br />

    <p class="lead"></p>
    <div class="row">
        <div class="col-md-4">
            <h2>Create a job</h2>
            <p>Post a job to be completed by a worker</p>
            <p><a class="btn btn-default" href="https://localhost:44335/Jobs/Create">Create a job &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>View your jobs</h2>
            <p>View your currently outstanding jobs.</p>
            <p><a class="btn btn-default" href="https://localhost:44335/Jobs/ClientJobs">View jobs &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Workers</h2>
            <p>Search for workers</p>
            <p><a class="btn btn-default" href="https://localhost:44335/Workers">View workers &raquo;</a></p>
        </div>
    </div>
</div>